# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store